

<div class="container">
  <p>
    event works!
  </p>

  <button (click)="preEvent($event)" id="btn">Click Event</button>
  <br>
  <button (mouseover)="preEvent($event)" id="btn">Mouseover Event</button>
  <br>
  <button (mousedown)="preEvent($event)" id="btn">Mousedown Event</button>
  <br>
  <button (mouseup)="preEvent($event)" id="btn">Mouseup Event</button>
  <br>
  <button (dblclick)="preEvent($event)" id="btn">Double Click Event</button>
  <br>
  <button (drag)="preEvent($event)" id="btn">drag Event</button>
  <br>
  <button (dragover)="preEvent($event)" id="btn">Drag Over Event</button>
</div>