
<div class="container">  
    <div class="form-group">
      <label for="nom">Nom :</label>
      <input type="text" class="form-control" id="nom" aria-describedby="emailHelp" placeholder="Enter nom" >
    </div>
    <div class="form-group">
      <label for="prenom">Prenom :</label>
      <input type="text" class="form-control" id="prenom" placeholder="Enter prenom">
    </div>
    <div class="form-group">
      <label for="age">Age :</label>
      <input type="text" class="form-control" id="age" placeholder="Enter age">
    </div>
    <div class="form-group">
      <label for="email">Email :</label>
      <input type="email" class="form-control" id="email" placeholder="Enter email">
    </div>
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Example textarea</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>